<%= form_for @semester do |f| %>
  <%= f.label "Semester Name" %><br>
  <%= f.text_field :name %><br>

  <%= f.label "Begin Date" %>
  <%= datepicker_input(f, :beginDate) %>

  <%= f.label "End Date" %>
  <%= datepicker_input(f, :endDate) %>

  <% if current_user.SuperAdmin? %>
    <div class="field">
      <%= f.label 'University'%>
      <%= f.select(:university_id, University.all.pluck(:uniName, :id)) %>
    </div>

  <% else %>
      <%= f.label 'University'%>
      <%= f.select(:university_id, University.where('universities.id = ? ', current_user.university_id ).pluck(:uniName, :id)) %>
  <% end %>
  <%= f.submit "Create Semester" %>
<% end %><br>

<table>
  <th>Semester</th>
  <th>Options</th>
  <% @semesters.each do |semester| %>
    <tr>
      <td><%= semester.name %></td>
      <td>
        <%= link_to "Edit", edit_semester_path(semester) %><br>
        <%= link_to "Delete", semester_path(semester), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>