<%= form_for @semester do |f| %>
  <%= f.label "Semester Name" %><br>
  <%= f.text_field :name %><br>

  <%= f.label "Begin Date" %>
  <%= datepicker_input(f, :beginDate) %>

  <%= f.label "End Date" %>
  <%= datepicker_input(f, :endDate) %>

  <div class="field">
    <%= f.label 'University'%>
    <%= f.select(:uni_id, University.all.pluck(:uniName, :uni_id)) %>
  </div>

  <%= f.submit "Create Semester" %>


<% end %>