<table>
  <th>Email</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>University</th>
  <th>Is Student?</th>
  <th>Is Instructor?</th>
  <th>Is Organization Admin?</th>
  <th>Is Super Admin</th>
  <th>Is Active</th>
  <th>Links</th>

  <% @users.each do |user| %>
    <% if (current_user.university == user.university and current_user.OrgAdmin?) or  current_user.SuperAdmin? %>
      <tr>
        <td><%= user.email%></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.university %></td>
        <td><%= user.Student? %></td>
        <td><%= user.Instructor? %></td>
        <td><%= user.OrgAdmin? %></td>
        <td><%= user.SuperAdmin? %></td>
        <td>
          <% if user.approved? %>
            <%= link_to 'True', togApp_path(user), method: :patch %>
          <% else %>
            <%= link_to 'False', togApp_path(user), method: :patch %>
          <%end %>
        </td>
        <td>
          <%=link_to 'Show', show_user_path(user) %><br>
          <%= link_to 'Edit', admin_edit_path(user) %>

        </td>

      </tr>
  <% end %>
    <%end %>
</table>