<h1>Create a new course</h1>

<%= form_for @course, url: new_course_path do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title%>
    <%= f.label :teacher%>
    <%= f.text_field :teacher%>
    <%= f.label :semester%>
    <%= f.text_field :semester%>
    <%= f.label :year%>
    <%= f.text_field :year%>
    <%= f.label :subject%>
    <%= f.text_field :subject%>
    <%= f.label :coursenum%>
    <%= f.text_field :coursenum%>
    <%= f.label :section%>
    <%= f.text_field :section%>
    
    <% end %>