<h1>Create a new course</h1>

<%= form_for @course, url: new_course_path do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title%><br><br>
    <%= f.label :teacher%>
    <%= f.text_field :teacher%><br><br>
    <%= f.label :semester%>
    <%= f.text_field :semester%><br><br>
    <%= f.label :year%>
    <%= f.text_field :year%><br><br>
    <%= f.label :subject%>
    <%= f.text_field :subject%><br><br>
    <%= f.label :coursenum%>
    <%= f.text_field :coursenum%><br><br>
    <%= f.label :section%>
    <%= f.text_field :section%><br><br>
    
    <%= f.submit %>
    <% end %>