<body>
<div class="row">
    <%= image_tag @user.image, style: 'height:200px;width:auto;' %>
  </div>
    <div class="login">
      <p><%= @user.firstName %> <%= @user.lastName %><br></p>
      <%= @user.id %><br>

      <%=  @user.uniName  %><br>
      Number of Ratings: <%= @user.getRatings.count %>
      Average Rating: <%= @user.getRatings.average(:rating) %>

      
<!--      <ul>-->
<!--         <li><%#= current_user.classes %>  </li>-->
<!--      </ul>-->
    </div>
</body>
