<body>
<div class="profile">
    <%= "First Name: " %>
    <%= @user.firstName %><br>
    <%= "Last Name: " %>
    <%= @user.lastName %><br>
    <%= "Email: " %>
    <%= @user.email %><br>
    <%= "University: " %>
    <%= @user.getUniName %><br>
    <%= "Super Administrator?" %>
    <% if @user.SuperAdmin %>
        Yes
    <% else %>
        No
    <% end %><br>
    <%= "Organizational Admin?" %>
    <% if @user.OrgAdmin %>
      Yes
    <% else %>
      No
    <% end %><br>
    <%= "Instructor?" %>
    <% if @user.Instructor %>
      Yes
    <% else %>
      No
    <% end %><br>
    <%= "Student?" %>
    <% if @user.Student %>
      Yes
    <% else  %>
      No
    <% end %><br>
    <%= "Approved?" %>
    <% if @user.approved %>
      Yes
    <% else %>
      No
    <% end %><br>
</div>
</body>
