<header>
  <div id="buttonWrapper">
    <% if not user_signed_in? %>
      You are not signed in
    <% else %>
      Hello, <%= current_user.firstName %>!
      <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
    <% end %>
  </div>
</header>

<body>
<div class="row" , style="margin-top:2%;">
  <% if not user_signed_in? %>
    <div id="formWrapper" class="column">
      <%= render 'userLogin' %>
    </div>
  <% end %>
  <div class="column">
    <%= render 'userNav' %>
    <%= image_tag "/images/testing.jpg" %>

  </div>
</div>
</body>
