<header>
  <div id="buttonWrapper">
    <% if not user_signed_in? %>
      <%= link_to('Sign in', new_user_session_path) %> or <%= link_to('Sign Up', new_user_registration_path) %>
    <% else %>
      <%= button_to('Sign out, #{current_user.name', new_user_session_path) %>
    <% end %>
  </div>
</header>

<body>
    <div class="row", style="margin-top:2%;">
      <div id = "formWrapper" class="column">
        <%= render 'userLogin'%>
       </div>
      <div class="column">
        <%= render 'userNav' %>
      </div>
    </div>
</body>
