<h2><%= @project.name %><br></h2>
<% if current_user.hasTeam?(@project) %>
  <%= render 'student_group' %>
<% else %>
  <table class="table">
    <thead>
        <th>Group Number</th>
        <th># of Members</th>
        <th>Options</th>
    </thead>
    <tbody>
    <% @project.teams.sort_by(&:groupNum).each do |t| %>
        <tr>
          <td><%= t.group_num %></td>
          <td><%= t.team_memberships.count %></td>
          <td>
            <%= link_to "Show", team_path(t.id) %><br>
            <% if Date.today <= @project.due_date and Date.today >= @project.available_date %>
              <%= link_to "Join Team", team_joinGroup_path(t), method: :post %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if current_user.id == @project.course.teacher %>
  <%= render 'teacher_project_view'%>
<% end %>
<%=link_to 'Previous Page', 'javascript:history.back()'%>

