<% if @course.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@course.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Create a new course</h1>

<%= form_for @course, :url => {:action => "create" } do |f| %>
  <div class="field">
    <%= f.label 'Semester'%><br>
    <%= f.select(:semester_id, Semester.all.collect {|s| [ s.name, s.id] if s.university_id == User.find(current_user.id).university_id }) %><br>
  <%= f.label :subject %>
  <%= f.text_field :subject %><br>
  <%= f.label :coursenum %>
  <%= f.text_field :coursenum %><br>
  <%= f.label :section %>
  <%= f.text_field :section %><br>
<!--  <%#= f.text_field :teacher, :value => current_user.id, :readonly => true %><br>-->
<!--  <%#= f.text_field :uni_id, :value => current_user.university_id, :readonly => true %><br>-->
  <%= f.submit %>
  </div>

<% end %>