<table class='table'>
  <thead>
    <th>Full Name</th>
    <th>Email Address</th>
    <th>CollaboRATING</th>
    <th>Number of Ratings</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @course.getStudents.each do |s| %>
      <tr>
       <td><%= s.fullName %></td>
        <td><%= s.email %></td>
        <% if s.getRatings.count == 0 %>
          <td>Not yet rated</td>
        <% else %>
          <td><%= s.getRatings.average(:rating).to_int %>/5</td>
        <% end %>
        <td><%= s.getRatings.count %></td>
<!--        <td><%## %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
    <table class="table">
      <thead>
        <th>Project Name</th>
        <th>Groups</th>
        <th>Due Date</th>
        <% if current_user.id == @course.teacher %>
          <th>Available Date</th>
          <th>Options</th>
        <% end %>
      </thead>
      <tbody>
        <% @course.projects.each do |p| %>
          <tr>
            <td><a href=<%=course_project_path(@course, p)%>><%= p.name %></a></td>
            <td><%= p.numGroups %></td>
            <td><%= p.dueDate %></td>
            <% if current_user.id == @course.teacher %>
              <td><%= p.availableDate %></td>
              <td><%= link_to "Delete Project", course_project_path(@course, p), method: :delete%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
<% if current_user.id == @course.teacher %>
  <%= link_to "Create Project", new_course_project_path(@course.id) %>
<% end %>