<table class='table'>
  <thead>
    <th>Full Name</th>
    <th>Email Address</th>
<!--    <th>CollaboRATING</th>-->
    <th>Options</th>
  </thead>
  <tbody>
    <% @course.getStudents.each do |s| %>
      <tr>
       <td><%= s.fullName %></td>
        <td><%= s.email %></td>
        <td><%# s. %></td>
<!--        <td><%## %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
    <table class="table">
      <thead>
        <th>Project Name</th>
        <th>Groups</th>
      </thead>
      <tbody>
        <% @course.projects.each do |p| %>
          <tr>
            <td><a href=<%=course_project_path(@course, p)%>><%= p.name %></a></td>
            <td><%= link_to "Delete Project", course_project_path(@course, p), method: :delete%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% if current_user.id == @course.teacher %>
  <%= form_for([@course, @course.projects.build]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :numGroups %>
    <%= f.text_field :numGroups %>
    <%= f.submit%>
  <% end %>
<% end %>