<h1>Teacher Portal</h1>
<a>
  <form action="courses/new">
    <input type="submit" value="Create a Course"/>
  </form>
</a>
<table>
  <th>Title</th>
  <th>Subject</th>
  <th>Course Number</th>
  <th>Section</th>
  <th>Unique Course ID</th>
  <th>Options</th>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.subject %></td>
      <td><%= course.coursenum %></td>
      <td><%= course.section %></td>
      <td><%= course.id %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %><br>
          <%= link_to 'Delete Course', course_path(course), method: :delete, data:{confirm: 'Are you sure you want to delete this course?'}%></td>
    </tr>

  <% end %>

</table>

    